<%= form_with model: quote, local: true, class: 'usa-form' do |form| %>
  <% if quote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(quote.errors.size, "error") %> prohibited this quote from being saved:</h2>

      <ul>
        <% quote.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.label :passage, 'My Rad Quote' %>
  <%= form.text_field :passage %>

  <%= form.label :author_id, 'Choose an author' %>
  <%= collection_select(
    :quote, 
    :author_id, 
    Author.order(:slug), 
    :id, 
    :name,
    { selected: author_id }
  )%>    </div>
  <%= form.submit %>
<% end %>
