<h1>Browse Quotes</h1>


<form class="usa-search usa-search--big">
  <div role="search">
    <label class="usa-sr-only" for="search-field-big">Search</label>
    <input class="usa-input" id="search-field-big" type="search" name="search">
    <button class="usa-button" type="submit">
      <span class="usa-search__submit-text">Search</span>
    </button>
  </div>
</form>

<table class="usa-table">
  <tbody>
    <% @quotes.each do |quote| %>
      <tr>
        <td>
          "<em><%= quote.passage%></em>" - <span><%= link_to "#{quote.author.name}", quote.author %></span>
        </td>
        <% if current_user&.admin? %>
          <td><%= link_to 'Edit', edit_quote_path(quote) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>





<footer class="usa-footer usa-footer--slim">
  <div class="usa-footer__primary-section">
    <div class="usa-footer__primary-container grid-row">
      <div class="mobile-lg:grid-col-8">
        <nav class="usa-footer__nav">
          <ul class="grid-row grid-gap">
            <%= paginate @quotes, window: 1, outer_window: 3 %>
            <%# <li class="mobile-lg:grid-col-6 desktop:grid-col-auto usa-footer__primary-content">
              <a class="usa-footer__primary-link" href="javascript:void(0);">Primary link</a>
            </li>
            <li class="mobile-lg:grid-col-6 desktop:grid-col-auto usa-footer__primary-content">
              <a class="usa-footer__primary-link" href="javascript:void(0);">Primary link</a>
            </li>
            <li class="mobile-lg:grid-col-6 desktop:grid-col-auto usa-footer__primary-content">
              <a class="usa-footer__primary-link" href="javascript:void(0);">Primary link</a>
            </li>
            <li class="mobile-lg:grid-col-6 desktop:grid-col-auto usa-footer__primary-content">
              <a class="usa-footer__primary-link" href="javascript:void(0);">Primary link</a>
            </li> %>
          </ul>
        </nav>
      </div>
    </div>
  </div>

  <% if current_user&.admin? %>
    <div class="usa-footer__secondary-section">
      <div class="grid-container">
        <div class="usa-footer__logo grid-row grid-gap-2">
          <div class="grid-col-auto">
            <h3 class="usa-footer__logo-heading">
              <%= link_to 'New Quote', new_quote_path %>
            </h3>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</footer>
