<div class="grid-container">
  <div class="grid-row">
    <h1>Browse Quotes <%= "(containing \"#{@search_term}\")" if @search_term.present? %></h1>
  </div>
  <div class="grid-row">
    <div class="grid-col-fill">
      <form class="usa-search usa-search--big">
        <label class="usa-sr-only" for="search-field-big">Search</label>
        <input class="usa-input" id="search-field-big" type="search" name="search" placeholder="Search by keyword!">
      </form>
    </div>
  </div>
  <div class="grid-row">
    <% if @quotes.present? %>
      <table class="usa-table usa-table--borderless">
        <tbody>
          <% @quotes.each do |quote| %>
            <tr>
              <td class="lil-cell-space">
                "<em><%= quote.passage%></em>" — <%= link_to "#{quote.author.name}", quote.author, class: "author-from-quote-link" %>
              </td>
              <% if current_user&.admin? %>
                <td><%= link_to 'Edit', edit_quote_path(quote), class: "edit-quote-link" %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <div class="no-results">No quotes found! #LazySuss 🙀</div>
    <% end %>
  </div>
</div>

<footer class="usa-footer usa-footer--slim">
  <div class="usa-footer__primary-section">
    <div class="usa-footer__primary-container grid-row">
      <nav class="usa-footer__nav">
        <ul class="grid-row grid-gap">
          <%= paginate @quotes, window: 1, outer_window: 3 %>
        </ul>
      </nav>
    </div>
  </div>
</footer>
