<h1>Authors</h1>
<span><%= link_to 'New Author', new_author_path %></span>
<span><%= link_to 'See All Quotes', quotes_path %></span>

<%= paginate @authors, window: 1, outer_window: 3 %>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @authors.each do |author| %>
      <tr>
        <td><%= author.name%> - <%= pluralize(author.quotes_count, 'quote')%></td>
        <td><%= link_to 'Show All Quotes', author %></td>
        <td><%= link_to 'Edit Author', edit_author_path(author) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

