<h1><%=@author.name%></h1>
<table class="usa-table">
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @author.quotes.each do |quote| %>
      <tr>
        <td>"<em><%= quote.passage%></em>"</td>
        <% if current_user&.admin? %>
          <td><%= link_to 'Edit Quote', edit_quote_path(quote) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<% if current_user&.admin? %>
  <%= link_to 'Edit Author', edit_author_path(@author) %> |
<% end %>
<%= link_to 'Back', url_options=:back %>
