<%= form_with model: user, local: true do |f| %>
  <% if user.errors.any? %>
    <%= render partial: 'layouts/errors', locals: {resource: user} %>
  <% end %>

  <%= f.label :name, class: 'usa-label' %>
  <%= f.text_field :name %>

  <%= f.label :email, class: 'usa-label' %>
  <%= f.text_field :email %>

  <% if ["edit","update"].include? action_name %>
    <%= f.label :slug, "Personal URL path", class: 'usa-label' %>
    <%= f.text_field :slug %>
    <span><em>(Note: letters will be lowercased, and only lowercase letters, numbers, underscores, and hyphens will be preserved.)</em></span>
  <% end %>

  <%= f.label :password, class: 'usa-label' %>
  <%= f.password_field :password %>

  <%= f.label :password_confirmation, class: 'usa-label' %>
  <%= f.password_field :password_confirmation %>

  <%= f.check_box :receive_qotd, class: 'usa-checkbox__input' %>
  <%= f.label :remember_me, "I'd like to receive a randomly-selected quote by daily email.", class: 'usa-checkbox__label' %> 
  
  <%= f.submit nil, class: "usa-button usa-button--outline" %>
<% end %>
