<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <%= render partial: 'layouts/errors', locals: {resource: user} %>
  <% end %>

  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <% if ["edit","update"].include? action_name %>
    <div>
      <%= form.label :slug, "Personal URL path" %>
      <%= form.text_field :slug %>
      <span><em>(Note: letters will be lowercased, and only lowercase letters, numbers, underscores, and hyphens will be preserved.)</em></span>
    </div>
  <% end %>
  <div>
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>
  
  <div>
    <%= form.label :password_confirmation, "Confirmation" %>
    <%= form.password_field :password_confirmation %>
  </div>

  <div>
    <%= form.label :receive_qotd do %> 
      <%= form.check_box :receive_qotd %>
      <span>I'd like to receive a randomly-selected quote by daily email.</span>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
