<div class="usa-overlay"></div>
<header class="usa-header usa-header--basic">
  <div class="usa-nav-container">
    <div class="usa-navbar">
      <div class="usa-logo" id="basic-logo">
        <em class="usa-logo__text"><a href="/" title="Home" aria-label="Home">Other People's Lines</a></em>
      </div>
      <button class="usa-menu-btn">Menu</button>
    </div>
    <nav aria-label="Primary navigation" class="usa-nav">
      <button class="usa-nav__close"><strong>Close</strong></button>
      <ul class="usa-nav__primary usa-accordion">
        <%= render(
          partial: 'layouts/resources_nav', 
          locals: { 
            controller: controller_name,
            action: action_name, 
            admin: current_user&.admin?
          }) %>
        <% if logged_in? %>
          <% if current_user&.admin? %>
            <li class="usa-nav__primary-item">
              <%= link_to "All Users", users_path, class: "usa-nav__link" %>
            </li>
          <% end %>
          <li class="usa-nav__primary-item">
            <%= link_to "My Settings", edit_user_path(current_user), class: "usa-nav__link" %>
          </li>
          <li class="usa-nav__primary-item">
            <%= link_to "Log Out", logout_path, method: :delete, class: "usa-nav__link" %>
          </li>
        <% else %>
          <li class="usa-nav__primary-item">
            <%= link_to "Log In", login_path, class: "usa-nav__link" %>
          </li>
          <% if Rails.configuration.allow_signups %>
            <li class="usa-nav__primary-item">
              <%= link_to "Sign Up", signup_path, class: "usa-nav__link" %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </nav>
  </div>
</header>