<header>
  <%= link_to "Other People's Lines", root_path %>
  <nav>
    <ul>
    <li><%= link_to "Home", root_path %></li>
    <% if logged_in? %>
      <li><%= link_to "Profile", current_user %></li>
      <li><%= link_to "Settings", edit_user_path(current_user) %></li>
      <li><%= link_to "Log Out", logout_path, method: :delete %></li>
      <% if current_user&.admin? %>
        <li><%= link_to "All Users", users_path %></li>
      <% end %>
    <% else %>
      <li><%= link_to "Log In", login_path %></li>
      <% if Rails.configuration.allow_signups %>
        <li><%= link_to "Sign Up", signup_path %></li>
      <% end %>
    <% end %>
    </ul>
  </nav>
</header>