<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Opl</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <% if flash.present? %>
      <div class="grid-container static-vertical-spacing">
        <div class="grid-row">
          <div class="grid-col-auto">
            <% flash.each do |message_type, message| %>
              <div class="usa-alert usa-alert--<%= message_type %>" role="alert">
                <div class="usa-alert__body">
                  <p class="usa-alert__text">
                    <%= message %>
                  </p>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
